#map {
    margin-top: 0;
    width: 50vw;
    height: 45vh;
    border: 3px solid black;
}
#map-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

#map-layer h2 {
    margin-bottom: 0;
    font-size: 1.6rem;
    color: white;
    background-color: rgba(9, 50, 83, 0.308);
}

#router-button {
    margin-top: 10px;
    border-radius: 10%;
    border: none;
    font-weight: 400;
    color: white;
    font-size: 18px;
    padding: 6px 12px;
}
#router-button:hover {
    font-weight: 600;
}
#distance-area {
    display: flex;
    background-color: rgba(9, 50, 83, 0.308);
    color: white;
    text-align: center;
    align-items: center;
    padding: 0px 10px;
    margin: 4px;
    height: 5vh;
    border-radius: 10px;
    font-size: 1.1rem;
}
