#map {
    margin-top: 0;
    width: 50vw;
    height: 45vh;
    border: 3px solid black;
}
#map-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map-layer h3 {
    margin-bottom: 0;
}

#router-button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10%;
    border: none;
    font-weight: 400;
    color: white;
}
#router-button:hover {
    font-weight: 600;
}
