#main-layer {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

#mini-diary {
    text-align: left;
}

#submit-part input {
    margin-right: 12px;
    width: 70%;
}
#submit-part h2 {
    font-size: 1.8rem;
}

#diary-part {
    margin-top: 50px;
}

#diary-part ul {
    padding-left: 0;
}
#diary-part button {
    margin-left: 10px;
}
#diary-part li {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
    padding-right: 50px;
    list-style-type: '👉';
    word-break: break-all;
}
