#main-layer {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    max-height: 605px;
}

#mini-diary {
    color: white;
    text-align: left;
    max-height: 550px;
    padding-left: 10px;
    padding-top: 10px;
    border: 8px rgba(28, 14, 158, 0.26) solid;
    border-radius: 5%;
    background-color: rgba(9, 50, 83, 0.329);
    overflow: hidden;
}

#submit-part input {
    margin-right: 12px;
    width: 70%;
    font-size: 18px;
}
#submit-part h2 {
    font-size: 1.8rem;
    margin-top: 0;
}

#diary-part {
    margin-top: 50px;
    max-height: 370px;
}

#diary-part ul {
    padding-left: 0;
}
#diary-part button {
    margin-left: 10px;
}
#diary-part li {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: 10px;
    padding-right: 50px;
    list-style-type: '👉';
    word-break: break-all;
}
#mini-list {
    font-size: 20px;
    padding-bottom: 0;
}

#mini-list button {
    font-size: 0.85rem;
}
