#main-layer {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    max-height: 605px;
}

#mini-diary {
    text-align: left;
    max-height: 550px;
    padding-left: 10px;
    padding-top: 10px;
    border: 4px rgb(27, 156, 81) solid;
    border-radius: 5%;
    background-color: #9ee695;
    opacity: 0.9;
}

#submit-part input {
    margin-right: 12px;
    width: 70%;
}
#submit-part h2 {
    font-size: 1.8rem;
    margin-top: 0;
}

#diary-part {
    margin-top: 50px;
    max-height: 370px;
}

#diary-part ul {
    padding-left: 0;
}
#diary-part button {
    margin-left: 10px;
}
#diary-part li {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
    padding-right: 50px;
    list-style-type: '👉';
    word-break: break-all;
}
